{% extends './base.html' %}
{% block title %} Desvincular {% endblock %}
{% block page %} <i class="fa-solid fa-user-xmark"></i> Desvincular {% endblock %}
{% block content %}
{% load bootstrap4 %}
<main>
  <div class="container-fluid px-4">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-6">
        </div>
      </div>
    </div>
    <br>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <p>Você tem certeza que quer desvincular o visitante "{{visitante.id_visitante}}" da rede "{{visitante.id_fornecedor}}"?
      </p>
      <div style="text-align: right">
        <form action="?" method="POST">
          {% csrf_token %}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Rede</span>
            </div>
            <input name="id" type="text" value="{{ visitante.id_fornecedor }}" readonly class="form-control">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Visitante</span>
            </div>
            <input name="nome" type="text" value="{{ visitante.id_visitante }}" readonly class="form-control">
          </div>
          <br>
          <div>
            <a href="{% url 'core:rede_vinculo' visitante.id_fornecedor_id %}" type="button" class="btn btn-default" data-dismiss="modal">Não</a>
            <button type="submit" class="btn btn-danger">Sim</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

{% endblock %}