{% extends './base.html' %}
{% block title %} Rede x Visitante {% endblock %}
{% block page %} <i class="fa-solid fa-link"></i> Rede x Visitante {% endblock %}
{% block content %}
{% load bootstrap4 %}
<main>
  <div class="container-fluid px-4">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-6">
        </div>
      </div>
    </div>
    <br>
    <div class="shadow p-3 mb-5 bg-white rounded">
            <label>Vincular Rede x Visitante</label>
        <br>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div style="text-align: right">
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
</form>
    </div>
  </div>
    {% bootstrap_javascript jquery='full' %}
</main>

{% endblock %}